<div ng-controller="testController" ng-init="submit()">
	<h1 class="page-header">Test</h1>
	<div class="row">
		<div class="col-md-12">
			<p>
		       <label>Handle:</label>
		       <select id="handle" name="handleSelect"></select>
		       <label>Tag:</label>
		       <select id="tag" name="tagSelect"></select>
		       </p>
		    <p>
		       <button ng-click="format()">Format</button>
		    </p>
		    <script>
				function format() {
					var show = document.getElementById("show");
					var tagSelect = document.getElementById("tag").value;
					var handleSelect = document.getElementById("handle").value;
					var output = tagSelect.replace("[xxx]", handleSelect);
					console.log("output = " + output);
					show.innerHTML=output;
				}
			</script>
		    <div>
		       <label>Formatted Output:</label>
		       <p id="show" ng-bind-html="formatted"></p>
		       <div id="display">
		       </div>
		    </div>
		</div>
	</div>
</div>
